.show-js-error {
    font-family: Arial, sans-serif;
    font-size: 13px;

    position: fixed;
    z-index: 10000000;
    bottom: 15px;
    left: 15px;

    visibility: visible;

    min-width: 15em;
    max-width: 90vw;

    transition: opacity .2s ease-out;
    transition-delay: 0s;

    opacity: 1;
    color: #000;
    background: #ffc1cc;
}

.show-js-error_size_big {
    transform: scale(2.0) translate(25%, -25%);
}

.show-js-error_hidden {
    transition: opacity 0.3s, visibility 0s linear 0.3s;

    visibility: hidden;

    opacity: 0;
}

.show-js-error__title {
    font-weight: bold;

    padding: 4px 30px 4px 7px;

    color: #fff;
    background: #f66;
}

.show-js-error__title_no-errors {
    background: #6b6;
}

.show-js-error__message {
    display: inline;

    cursor: pointer;
}

.show-js-error__message::before {
    display: inline-block;
    width: 10px;
    height: 10px;

    font-size: 10px;
    line-height: 10px;
    border-radius: 10px;
    content: '+';

    margin-right: 5px;
    margin-bottom: 2px;

    text-align: center;
    vertical-align: middle;

    background-color: #eee;
}

.show-js-error__body_detailed .show-js-error__message::before {
    content: '-';
}

.show-js-error__body_no-stack .show-js-error__message::before {
    display: none;
}

.show-js-error__body_detailed .show-js-error__filename {
    display: block;
}

.show-js-error__body_no-stack .show-js-error__filename {
    display: none;
}

.show-js-error__close {
    position: absolute;
    top: 0;
    right: 2px;

    padding: 3px;

    font-size: 20px;
    line-height: 20px;

    cursor: pointer;

    color: #fff;
}

.show-js-error__body {
    padding: 5px 8px 5px 8px;

    line-height: 19px;
}

.show-js-error__body_hidden {
    display: none;
}

.show-js-error__filename {
    display: none;

    overflow-y: auto;

    max-height: 15em;
    margin: 3px 0 3px -2px;
    padding: 5px;

    white-space: pre-wrap;

    border: 1px solid #faa;
    background: #ffe1ec;
}

.show-js-error__actions {
    padding: 5px 0 3px 0;
    margin-top: 5px;

    border-top: 1px solid #faa;
}

.show-js-error__actions_hidden {
    display: none;
}

.show-js-error__arrows {
    white-space: nowrap;
    margin-left: 8px;
}

.show-js-error__arrows_hidden {
    display: none;
}

.show-js-error__copy,
.show-js-error__report,
.show-js-error__prev,
.show-js-error__next,
.show-js-error__num {
    font-size: 12px;
}

.show-js-error__report_hidden {
    display: none;
}

.show-js-error__next {
    margin-left: 1px;
}

.show-js-error__num {
    margin-right: 5px;
    margin-left: 5px;
}

.show-js-error__copy,
.show-js-error__report {
    margin-right: 3px;
}

.show-js-error input {
    padding: 1px 2px;
}

.show-js-error a,
.show-js-error a:visited {
    text-decoration: underline;

    color: #000;
}

.show-js-error a:hover {
    text-decoration: underline;
}
