.show-js-error
{
    font-family: Arial, sans-serif;
    font-size: 12px;

    position: fixed;
    z-index: 9999;
    bottom: 15px;
    left: 15px;

    visibility: hidden;

    min-width: 15em;
    max-width: 40em;

    transition: all .2s ease-out;

    opacity: 0;
    color: #000;
    background: #ffc1cc;

    &_visible
    {
        visibility: visible;

        opacity: 1;
    }

    & input
    {
        padding: 1px 2px;
    }

    &__title
    {
        font-weight: bold;

        padding: 4px 7px;

        color: #fff;
        background: #f66;
    }

    &__message
    {
        display: inline;

        cursor: pointer;

        border-bottom: 1px dotted #000;
    }

    & a,
    & a:visited
    {
        text-decoration: underline;

        color: #000;
    }

    & a:hover
    {
        text-decoration: underline;
    }

    &__close
    {
        font-size: 20px;
        line-height: 20px;

        position: absolute;
        top: -1px;
        right: 2px;

        padding: 3px;

        cursor: pointer;

        color: #fff;
    }

    &__body
    {
        line-height: 19px;

        padding: 5px 8px 5px 8px;
    }

    & &__filename,
    & &__ua
    {
        display: none;
    }

    &__body_detailed &__filename,
    &__body_detailed &__ua
    {
        display: block;
    }

    &__actions
    {
        margin-top: 3px;
        padding: 3px 5px;

        border-top: 1px solid #faa;
    }

    &__actions::after
    {
        font-size: 0;

        display: block;
        visibility: hidden;
        clear: both;

        height: 0;

        content: ' ';
    }

    &__arrows
    {
        display: none;
        float: right;
    }

    &__arrows_visible
    {
        display: block;
    }

    &__copy,
    &__send,
    &__prev,
    &__next,
    &__num
    {
        font-size: 9px;
    }

    &__copy,
    &__send
    {
        float: left;

        margin-right: 5px;
    }

    &__num
    {
        margin-right: 5px;
        margin-left: 5px;
    }
}
